version: 1.0.{build}
image: Visual Studio 2019
build_script:
  - dotnet pack -c Release -o out
artifacts:
  - path: out\*.nupkg
deploy:
  - provider: NuGet
    api_key:
      secure: 2em9hy+7uFC96h2u5AvMZHYRiynb4l5tHrlK/blCv1N3ckwEYz4yXadP47EOT5Er
    on:
      branch: master